<%- include("header") -%>
<!-- <%   //if(kindOfDay === "saturday" || kindOfDay ==="sunday"){ %>
        <h1 style="color:gold"><%= //kindOfDay  %>  ToDo List !</h1>
    <%// }else{ %>
        <h1 style="color: aqua"><%=// kindOfDay  %>  ToDo List !</h1>
    <%// } %> -->

<div class="box" id="heading">
    <h1> <%= kindOfDay %> </h1>
</div>

<div class="box">
    <% listItems.forEach(ele =>  {%>
    <form action="/delete" method="POST">
        <div class="item">
            <input type="checkbox" name="deletedItem" value="<%=ele._id%>" onchange="this.form.submit()">
            <p> <%= ele.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%=kindOfDay%>"></input>
    </form>
    <% }); %>

    <form class="item" action="/" method="post">
        <input type="text" name="listItem" autofocus placeholder="New item" autocomplete="off">
        <button type="submit" name="list" value="<%=kindOfDay%>">+</button>
    </form>
</div>


<%- include("footer") -%>